

.sorting-visualizer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .setting{
        height: 70px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        button{
            width: 80px;
            height: 30px;
            font-size: 12px; 
            margin: 0 7px;
            border: 1px solid;
            color: rgb(63, 145, 90);
            letter-spacing: 0.5px;
            cursor: pointer;

            &:hover {
                background-color: #bed8c5; 
            }
        }

        .slider-container{
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;   // between slider and lable

            p{
                width: 20px;
            }
        }
    }

    .interface {
        height: 350px;
        display: flex;
        align-items: flex-end;
        gap: 5px;
        justify-content: center;
    
        .sorting-bar {
            background-color: #304962;
            width: 40px;
            transition: height 0.3s ease;
        }

        .sorting-bar.comparing {
            background-color: #ef3602
        }

        .sorting-bar.swapped {
            background-color: #6c04f3
        }
        
        .sorting-bar.sorted {
            background-color: rgb(63, 145, 90);
        }
      }

      .explanation {
        display: flex;
        flex-direction: row;
        height: 300px; 
        margin-top: 30px;

        .word-explanation {
            flex: 4;
            height: 100%;
            background-color: #bed8c5;

        }
    
        .code-explanation {
            flex: 2;
            background-color: #f6faf7;
            padding: 0;       // without this the scroll bar will be covered by the footer 
            margin: 0;
            height: 300px;
            overflow-x: auto;
            
            
          
          code {
            font-family: 'Monaco', 'Consolas', monospace;
            color: #24292e;
            font-size: 16px;
          }
        }  
      }
}