.discussion-container {
    width: 100%; 
    margin: 0 auto; 
    
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    h2 {
      font-size: 1.5rem; 
      margin-bottom: 10px;
      color: #333; 
    }
  
    input {
      width: 100%; 
      padding: 5px 0px;
       
      margin-bottom: 15px; 
      border: 1px solid #ccc; 
      border-radius: 5px; 
      font-size: 1rem; 
  
      &:focus {
        outline: none; // Remove default outline
        border-color: rgb(63, 145, 90); 
        box-shadow: 0 0 5px rgba(63, 145, 90, 0.5); 
      }
    }
  
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(63, 145, 90);
      font-size: 12px;
      padding: 8px 8px;
      border: 1px solid transparent;
      border-radius: 8px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #15782e;
      }
    }


    .delete-button{
      background-color: red;
      color: #ccc;


      &:hover {
        background-color: #4c1511;
      }
    }
  
    .comment {
      border: solid 1px #e0e0e0; 
      margin-bottom: 15px; 
      padding: 15px; 
      border-radius: 5px; 
      background-color: #fff; 
  
      p {
        margin: 5px 0; 
        color: #555; 
      }
  
      .comment-actions {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px; 
  
        img {
          height: 20px;
          cursor: pointer; 
        }
      }
      
     
      ul {
        list-style-type: none; 
        padding-left: 20px; 
  
        li {
          margin-top: 10px; 
          padding: 10px;
          border-left: 3px solid rgb(63, 145, 90); 
          background-color: #f1f1f1; 
          border-radius: 3px; 
  
          p {
            margin: 0; 
          }
  
          .comment-actions {
            gap: 8px; 
          }
        }
      }
    }
  }